*{
  margin: 0;
  padding:0; 
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  outline: none; border:none;
  text-decoration: none;
  transition:all .2s linear;
  transition:width none;
  transition: all 0.4s ease;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

.main-section {
  /* position: relative; */
}
 .nav-lists {
   /* margin-left:auto; */
   text-align:right;
   padding-right: 10px;
 }
  
 .nav-lists .nav-links {
   margin-right: 20px;
   text-decoration: none;
   color:white;
 }

 .nav-lists .nav-links:hover {
     transform: translateY(-6px);
     color: gray;
 }
.mid-section {
   background: blue;
   display: flex;
   height: 100vh;
   position: relative;
 }

 .mid-section .mid-section-text {
   background:green;
   height:25px;
   width: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -25px 0 0 -25px;
   overflow:hidden;

 }

.left-section {
   background: #f65f53;
   flex: 1;
   position:relative;
 }
 .mid-section .left-section .left-section-text {
    width:25px;
    height:50px;
    background:red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    overflow:hidden;
 }

 .right-section {
   background: #000;
   flex: 1;
   color:#fff;
   position:relative;
 }
 .mid-section .right-section .right-section-text {
   background:purple;
   height:25px;
   width: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -25px 0 0 -25px;
   overflow:hidden;
   
 }
.bottom-section {
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* background-color: darkcyan; */
 }

 .bottom-section  a{
  text-decoration:none;
  color:black;
 }

 .bottom-section .social-links a:hover {
   /* padding-top: 30px; */
     transform: translateY(-6px);
     color: white;
}

 


   
